* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "poppins", sans-serif;
}

/* Navbar Styling */
.navbar {
  display: flex;
  justify-content: space-around;
  height: 5vh;
  margin: 2rem 5rem 0 4rem;
}

.nav-links {
  justify-content: space-around;
  display: flex;
  width: 75%;
}

ul {
  display: flex;
  justify-content: flex-end;
}

.home,
.about,
.contact,
.blog,
.careers {
  color: black;
  font-size: 1.2rem;
  padding: 0 1rem;
}

.home:hover,
.about:hover,
.contact:hover,
.blog:hover,
.careers:hover {
  border-bottom: 0.2rem solid black;
}

.invite {
  color: black;
  font-size: 1.2rem;
  padding: 0 2rem;
  width: 40vh;
  height: 5vh;
}
/* Navbar styling End */

/* Header Styling */
.header {
  background-color: whitesmoke;
  width: 100%;
  height: 90vh;
}

.header .header-shift {
  width: 100%;
  display: flex;
}

.header-shift .left-mobile,
.right-mobile {
  display: none;
}

.header-shift .left {
  padding: 10rem 0 0 6rem;
  width: 50%;
  height: 90vh;
}

.header-shift .left h2 {
  font-size: 3rem;
  width: 70%;
  font-weight: 300;
}

.header-shift .left p {
  padding-top: 2rem;
  font-size: 1.2rem;
  width: 97%;
  font-weight: 300;
}

.header-shift .left .invite {
  color: black;
  font-size: 1.2rem;
  padding-top: 2rem;
  width: 27vh;
  height: 5vh;
}

.header-shift .right {
  width: 50%;
  overflow: hidden;
  height: 90vh;
  background-image: url(/public/images/bg-intro-desktop.svg);
}

.right img {
  background-blend-mode: overlay;
  padding-left: 6rem;
  width: 115%;
}
/* Header styling End */

/* Body Styling */
.body {
  width: 100%;
  height: 100vh;
  background-color: ghostwhite;
  padding: 6.5rem 3rem 0 5rem;
}

.body h2 {
  font-size: 2.5rem;
  width: 70%;
  font-weight: 300;
}

.body p {
  padding-top: 2rem;
  font-size: 1.3rem;
  width: 60%;
  font-weight: 300;
}

.body .card {
  padding-top: 4rem;
  display: flex;
  width: 100%;
}

.body .card .card-body {
  margin-right: 1rem;
  width: 50%;
  height: 40vh;
}

.card-body h3 {
  padding-top: 2rem;
  font-size: 1.7rem;
  width: 100%;
  font-weight: 300;
}

.card-body p {
  padding-top: 1rem;
  font-size: 1rem;
  width: 100%;
  font-weight: 300;
}
/* Body Styling End */

/* Article Styling */
.article {
  background-color: whitesmoke;
  width: 100%;
  height: 100vh;
  padding: 6.5rem 3rem 0 5rem;
}

.article h2 {
  padding-bottom: 2rem;
  font-size: 2rem;
  width: 100%;
  font-weight: 500;
}

.article .card {
  display: flex;
}

.article .card-bodys {
  background-color: white;
  margin-right: 1rem;
  width: 35rem;
  height: 70vh;
  border-radius: 0.5rem;
}

.card-bodys .card-image {
  width: 100%;
  height: 30vh;
}

.card-bodys .small {
  padding: 1rem 0 0 1rem;
}

.card-bodys h3 {
  padding: 1rem;
  font-size: 1.2rem;
  width: 100%;
  font-weight: 450;
}

.card-bodys p {
  padding: 1rem;
  font-size: 0.9rem;
  width: 100%;
  font-weight: 300;
}
/* Article Styling End */

/* Footer Styling */
.footer {
  width: 100%;
  height: 25vh;
  background-color: darkblue;
  padding: 3rem 3rem 0 5rem;
}

.footer .shift {
  display: flex;
  width: 100%;
}

.footer .left-image {
  padding-top: 2rem;
}

.footer .footer-image {
  padding-right: 1rem;
}

.footer .center {
  width: 50%;
  height: 18vh;
  display: flex;
  justify-content: space-around;
  padding-left: 3rem;
  color: white;
}

.footer .center .first {
  display: block;
  cursor: pointer;
}

.footer .center .second {
  display: block;
  cursor: pointer;
}

.footer .right {
  width: 20%;
  margin-left: 10rem;
}

.footer .right .invite {
  color: white;
  font-size: 1.2rem;
}

.footer .right .reserve {
  color: white;
  padding-top: 2rem;
  font-size: 0.8rem;
  width: 100%;
}

/* Hamburger styling */
.mobile-menu-icon {
  display: none;
}
